
html{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.6);
}


#warningoverlay:empty, #overlay:empty {
  display: none;
}

#warningoverlay {
  color: white;
  text-align: center;
  font-size: 12px;
  background-color: firebrick;
  padding: 20px;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.50);
  height: 100%;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 0px 0px 100px 0px;
}

h1 { 
  font-size: 2rem; 
  padding: 25px;
  background-color: olive;
  margin-bottom: 50px;
}

a { 
  text-decoration: none; 
  font-style: italic; 
  color: white; 
  font-weight: normal;
}

/* Game controls */

#welcome, #message, #controls, #button {
  margin: 50px 0px 60px 0px;
}

#message #gameover:empty { visibilty: hidden; }

#message #gameover {
  font-size: 5rem;
  color: black;
  text-align: center
}

#level, #start {
  padding: 7px 20px 7px 20px;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 10px;
}

#leftbutton, #rightbutton {
  padding: 7px 20px 7px 20px;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 10px;
}

/* Gamefield */
body {
  background-color: olive;
}

#game {
  margin: 50px auto 50px auto;
  background-image: url('img/brickwall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-collapse: collapse;
}

#game td {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(255,255,255,0.25);
  background: rgba(255,255,255, 0.3);
}

.player {
  background-color: brown !important;
  width: 10px;
}

.ball {
  background-color: red !important;
  width: 10px;
}

.brick{
  background-color: blue !important;
  width: 10px;
}



/*
green, yellow, red, grey
.brick {
  background-color:  !important;
  border-radius: 10px;
}
*/
  
